#C, C++ compiled
*.o
*.elf
*.asm
*.hex
*.bin
*.a
*.so

#python
__pycache__/
*.py[cod]
*$py.class
eggs/
.eggs/
wheels/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints

# file system
.DS_Store
.DS_Store?